.paddingall{
    padding: 10px 10px 10px 10px;
}

.pricetitle{
    font-weight: 600;
}
.pricesubtitle{
    font-size: 14px;
}
.iconstylewhite{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.iconstyleblack{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}
.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg, rgb(108, 97, 164) 0%, rgb(44, 61, 155) 100%);
}
.gradientlight {
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg, rgb(53, 138, 148, 1) 0%, rgb(91, 180, 96, 1) 100%);
}
.bgColor{
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgb(224, 224, 224) 0%, rrgb(223, 237, 254) 100%);
}